<div class="timer-container row">
  <div class="noselect timer-circle">
    <div ng-click="timer.timerToggle()" class="timer-numbers">{{timer.counter | timecode}}</div>
    <audio id="alertSound" src="sounds/alert.mp3" preload="auto"></audio>

    <ul class="text-center">
      <!-- fill circles for each pomodoro completed -->
      <li pomodoro-counter></li>
      <li pomodoro-counter></li>
      <li pomodoro-counter></li>
      <li pomodoro-counter></li>
    </ul>
  </div>
</div>

<nav class="timer-options row">
  <div class="text-center">
    <ul class="timer-buttons">
      <li ng-click="timer.timerSelector(25)">WORK</li>
      <li ng-click="timer.timerSelector(5)">SHORT</li>
      <li ng-click="timer.timerSelector(20)">LONG</li>
    </ul>
  </div>
</nav>