$primary-color: #409ace;
$primary-font: 'Oswald', sans-serif;


.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, html {
  overflow-x: hidden;
}

.header-container {
  background-color: $primary-color;
  border-bottom: 3px solid $primary-color;
  .timer-header h1 {
    color: white;
    font-family: $primary-font;
    font-size: 4.5em;
    font-weight: bold;
    padding-left: 35px;
  }
  .help {
    color: white;
    cursor: pointer;
    font-family: $primary-font;
    font-size: 2.5em;
    line-height: 3em;
    text-align: center;
  }
}

[ui-view] {
  margin-bottom: 30px;
}

.timer-container {
  background-color: $primary-color;
  border-top: 3px solid $primary-color;
  margin-bottom: 35px;
  .timer-circle {
    height: 400px;
    width: 400px;
    margin: 0 auto 50px;
    background-color: white;
    border-radius: 50%;
    .timer-numbers {
      font-size: 120px;
      font-weight: bold;
      text-align: center;
      padding: 100px 0 0; 
      color: $primary-color;
      cursor: pointer;
    }
    ul {
      padding: 0;
      list-style: none;
      padding-bottom: 15px;

      [pomodoro-counter] {
        border: solid 1px $primary-color;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: inline-block;
        cursor: pointer;
      }
      .fill {
        background-color: $primary-color;
      }
    }
  }
}


/* HELP */
.modal-content {
  .modal-header {
    background-color: $primary-color;
    color: white;
  }
}


.timer-options {
  ul {
    list-style: none;
  }
  .timer-buttons {
    padding: 0;
  }
  li{
    display: inline-block;
    font-family: $primary-font;
    font-size: 40px;
    margin: 0 20px;
    cursor: pointer;
    color: white;
    background-color: $primary-color;
    line-height: 90px;
    border-radius: 5%;
    width: 155px;
  }
}


.task-list {
  font-family: $primary-font;
  color: $primary-color;
  width: 50%;
  margin: 0 auto 100px;
  padding: 0 10px;
  border: 2px solid $primary-color;
  h1 {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 15px;
  }
  tr {
    cursor: pointer;
  }
  td {
    border-top: none !important;
    border-bottom: 1px solid #c9c9c9;
    font-family: sans-serif;
    font-size: 18px;
  }
  #task-input {
    font-family: sans-serif;
    width: 85%;
    margin-right: 5px;  
    margin-bottom: 10px;    
    display: inline;
  }
    :focus {
      outline: none;
      border:1px solid #c9c9c9;
      box-shadow: 0 0 10px $primary-color;
    }
  #task-submit {
    font-size: 15px;
    background-color: $primary-color;
    color: white;
    border: none;
    margin-bottom: 20px;
  }
  .strikethrough {
    text-decoration: line-through;
  }
}






/* Media queries */

@media only screen and (max-width: 992px) and (-webkit-device-pixel-ratio: 2) {
  .header-container {
    .timer-header h1 {
      font-size: 8.5em;
    }
    .help {
      line-height: 5em;
      text-align: right;
      padding-right: 35px;
    }
  }

  .timer-container {
    .timer-circle {
      margin-top: 35px;
    }
  }
}




