$primary-color: #409ace;
$primary-font: 'Oswald', sans-serif;

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header-container {
  background-color: $primary-color;
  h1{
    color: white;
    font-family: $primary-font;
    font-size: 70px;
    font-weight: bold;
  }
  .navbar-right {
    margin-top: 20px;
    li{
      list-style: none;
      color: white;
      margin-bottom: 5px;
      cursor: pointer;
      font-family: $primary-font;
      font-size: 35px;
    }
  }
}
.timer-container {
  background-color: $primary-color;
  .timer-circle {
    height: 400px;
    width: 400px;
    margin: -30px auto 30px;
    background-color: white;
    border-radius: 50%;
    .timer-numbers {
      font-size: 120px;
      font-weight: bold;
      position: relative;
      left: 50px; 
      padding: 100px 0 0; 
      color: $primary-color;
      cursor: pointer;
    }
    ul {
      padding: 0;
      list-style: none;
      padding-bottom: 15px;

      li {
        border: solid 1px $primary-color;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: inline-block;
        cursor: pointer;
      }
      .fill {
        background-color: $primary-color;
      }
    }
  }
}
/* HELP */
.modal-content {
  .modal-header {
    background-color: $primary-color;
    color: white;
  }
}

.timer-options {
  margin-top: 25px;
  ul {
    list-style: none;
  }
  .timer-buttons {
    padding: 0;
  }
  li{
    display: inline-block;
    font-family: $primary-font;
    font-size: 40px;
    margin: 0 20px;
    cursor: pointer;
    color: white;
    background-color: $primary-color;
    line-height: 90px;
    border-radius: 5%;
    width: 155px;
  }
}
.task-list {
  font-family: $primary-font;
  color: $primary-color;
  width: 50%;
  margin: 0 auto 100px;
  padding: 0 10px;
  border: 2px solid $primary-color;
  h1 {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 15px;
  }
  tr {
    cursor: pointer;
  }
  td {
    border-top: none !important;
    border-bottom: 1px solid #c9c9c9;
    font-family: sans-serif;
    font-size: 18px;
  }
  #task-input {
    font-family: sans-serif;
    width: 85%;
    margin-right: 5px;  
    margin-bottom: 10px;    
    display: inline;
  }
    :focus {
      outline: none;
      border:1px solid #c9c9c9;
      box-shadow: 0 0 10px $primary-color;
    }
  #task-submit {
    font-size: 15px;
    background-color: $primary-color;
    color: white;
    border: none;
  }
  .strikethrough {
    text-decoration: line-through;
  }
}

.spacer{
  height: 100px;
}