.top-section {
  background-color: #ff7728;
}
.navbar {
  .navbar-right {
    margin-top: 20px;
    li{
      list-style: none;
      color: white;
      margin-bottom: 5px;
    }
  }
  .timer-header h1{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    font-weight: bold;
  }
}

.timer-counter {
  height: 300px;
  width: 300px;
  margin: -10px auto 60px;
  background-color: white;
  border-radius: 50%;
  .timer-numbers
    ul {
      list-style: none;
      padding: 70px 0 0;
    }
      li {
        display: inline;
        font-size: 90px;
        font-weight: bold;
        color: #ff7728;
        cursor: pointer;
      }
  .pomodoro-counter {
    padding: 0;
    list-style: none;
    padding-bottom: 15px;

    li {
      border: solid 1px #ff7728;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: inline-block;
    }
  }
}

.timer-nav {
  margin-top: 25px;
  ul {
    list-style: none;
  }
  .nav-buttons {
    padding: 0;
  }
  li{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin: 0 20px;
    cursor: pointer;
    color: white;
    background-color: #ff7728;
    line-height: 90px;
    border-radius: 5%;
    width: 155px;
  }
}

.task-list {
  table {
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
  }
    th {
      text-decoration: underline;
    }
  .add-task {
    position: relative;
    float: right;
    right: 285px;
    margin-top: 10px;
  }
}

.spacer{
  height: 100px;
}