<div class="modal-help">
  <div class="modal-header">
    <h2 class="modal-title">HELP</h2>
  </div>
  <div class="modal-body">
    <div class="modal-pomodoro">
      <h4>What is the Pomodoro Technique&reg;?</h4>
        <p>The Pomodoro Technique is a time management method developed by Francesco Cirillo. For more information, visit <a href="http://pomodorotechnique.com/get-started/">the official site</a>.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn"> OK </button>
  </div>
</div>