<div class="modal-help">
  <div class="modal-header">
    <h2 class="modal-title">BLOC TIMER HELP</h2>
  </div>
  <div class="modal-body">
    <div class="modal-pomodoro">
      <h3>What is the Pomodoro Technique<span style="font-size:12px; position:relative; bottom:5px;">&reg;</span>?</h3>
        <p>The Pomodoro Technique is a time management method developed by Francesco Cirillo. For detailed information, visit <a target="_blank" href="http://pomodorotechnique.com/get-started/">the official site</a>.</p>
      <br/>
      <h4>HOW TO USE BLOC TIMER</h4>
        <ul>
          <li>Choose a task that you'd like to complete</li>
            <ul>
              <li>Use the Task List to keep track of what you plan to work on</li>
              <li>Click a task to mark as complete (if you click by accident, just click again to unmark)</li>
              <li>Click and drag a task to rearrange the list</li>
              <li><em>Keep in mind that if you refresh the Bloc Timer window, your current task list will be lost</em></li>
            </ul>
          <li>Click the "WORK" button to start a 25min work period</li>
            <ul>
              <li>After each work period, click one of the small circles below the timer counter. This will fill the clicked circle and will help you keep track of the number of work periods you have completed. If you click a circle by mistake, just click again to unfill.</li>
              <li><strong>CAUTION:</strong> Double clicking any circle will reset all of them to an unmarked state.</li>
            </ul>
          <li>After each work period, take a break!</li>
            <ul>
              <li>At the end of each work period, click "SHORT" for a 5min break period. After your fourth work period, click "LONG" for a 20min break!</li>
              <li><strong>REMEMBER:</strong> After your long break, reset the work period counter circles by double clicking any of them.</li>
            </ul>
          <li>ADDITIONAL TIPS</li>
            <ul>
              <li>Once the timer is running, click the remaining time to pause. Click again to continue the countdown. (<em>NOTE:</em> Only pause when absolutely necessary, as it is a deviation from the pomodoro technique)</li>
              <li><strong>IMPORTANT:</strong> In order to keep accurate time, Bloc Timer must be open in an active browser window. If you have multiple tabs open, the Bloc Timer must be the active tab. Alternatively, you can pull the Bloc Timer tab into its own browser window (it is ok for this window to be in the background of your workspace).</li>
            </ul>
        </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="$close()" class="btn"> OK </button>
  </div>
</div>