<div class="register-container container text-center">
  <div class="register-header">
    <h2>REGISTER HERE!</h2>
  </div>
  <form class="text-center" role="form" action="/register" method="post">
    <div class="form-group">
      <input type="text" name="username" class="form-control" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <button class="btn btn-default" type="submit">SUBMIT</button>
    <a href="/"><button class="btn btn-primary" type="button">CANCEL</button></a>
  </form>

  <!-- To add username already taken statement prn -->
</div>