<div class="timer-container container-fluid">
  <div class="noselect timer-circle">
    <div ng-click="timerToggle()" class="timer-numbers">{{counter | timecode}}</div>

    <ul class="text-center">
      <!-- fill circles for each pomodoro completed -->
      <li class="pomodoro-counter"></li>
      <li class="pomodoro-counter"></li>
      <li class="pomodoro-counter"></li>
      <li class="pomodoro-counter"></li>
    </ul>
  </div>
</div>


<nav class="timer-options navbar">
  <div class="text-center container">
    <ul class="timer-buttons">
      <li ng-click="timerSelector(25)">WORK</li>
      <li ng-click="timerSelector(5)">SHORT</li>
      <li ng-click="timerSelector(20)">LONG</li>
    </ul>
  </div>
</nav>